


<!--<div id="subscribe" style="display: inline-block; height: 500px; width: 500px;">-->
    <!--<h3  class="<?= $data['hide_html_element'] ?>" >Subscribe</h3><br/>-->
    <!--<form method="post" action="" class="<?= $data['hide_html_element'] ?>">-->
        <!--<div class="form-group">-->
            <!--<label for="name">First name</label>-->
            <!--<input type="text" id="name" name="name" value="<?= $data['form_data']['name'] ?>" class="form-control" />-->
            <!--<?php if ( $data['valid_errors']['name']) { ?>-->
            <!--<div class="form-error"><?= $data['valid_errors']['name'] ?></div>-->
            <!--<?php } ?>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="surname">Surname</label>-->
            <!--<input type="text" id="surname" name="surname" value="<?= $data['form_data']['surname'] ?>" class="form-control" />-->
            <!--<?php if ( $data['valid_errors']['surname']) { ?>-->
            <!--<div class="form-error"><?= $data['valid_errors']['surname'] ?></div>-->
            <!--<?php } ?>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="email">E-mail</label>-->
            <!--<input type="text" id="email" name="email" value="<?= $data['form_data']['email'] ?>" class="form-control"/>-->
            <!--<?php if ( $data['valid_errors']['email']) { ?>-->
            <!--<div class="form-error"><?= $data['valid_errors']['email'] ?></div>-->
            <!--<?php } ?>-->
        <!--</div>-->
        <!--<input type="submit" class="btn btn-success" value="Subscribe" />-->

    <!--</form>-->

<!--</div>-->




