.bg_page{
                            background:  #eeeeee;
                            background-image: url(/webroot/img/background/bg_page);
                            background-size:  cover;
                            }