<!doctype html>

<html>
<head>

    <title>
        <?php if ( isset( $data['view_data']['article_page']['title']) ) {
                echo $data['view_data']['article_page']['title'];
             } else {
                  echo Config::get('site_name');
             } ?>
    </title>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="/img/favicon.gif" type="image/gif">

    <link rel="stylesheet" href="/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_bg_head.css">
    <link rel="stylesheet" href="/css/style_bg_page.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/js/user.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>


<body class="bg_page"   >

<nav id="top_menu_user" class="bg_head navbar navbar-inverse navbar-fixed-top" >
    <div class="container ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home/"><?= Config::get('site_name') ?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li
                <?php if (App::getRouter()->getController() == 'home') {?>class="active"<?php } ?>><a href="/home/">Главная</a></li>


                <li  class="user_menu_block"  style="position: relative;">
                    <a href="" class="user_menu_btn" style="">Меню</a>


                    <ul id="user_menu" class="nav -navbar-nav"  style="display: none; position: absolute; top: 100%; left: 0%; min-width: 100px; border: 1px solid #aaa; ;">

                        <?php
                        $categories = $data['menu_data'];
                         ?>

                        <?php
                        $categories_count = count($categories);
                        $last_nested_level = 0;

                        if ($categories_count > 0) { ?>
                        <li>
                            <div><a href="<?= $categories[0]['menu_url'] ?>"><?= $categories[0]['menu_name'] ?></a></div>

                            <?php  for ($i = 1; $i < $categories_count; $i++) { ?>

                            <?php if ( $categories[$i]['nested_level'] == $categories[$i - 1]['nested_level'] ) {  ?>
                        </li>
                        <li>
                            <div><a href="<?= $categories[$i]['menu_url'] ?>"><?= $categories[$i]['menu_name'] ?></a></div>
                            <?php } ?>

                            <?php if ( $categories[$i]['nested_level'] > $categories[$i - 1]['nested_level'] ) {  ?>
                            <ul>
                                <li>
                                    <div><a href="<?= $categories[$i]['menu_url'] ?>"><?= $categories[$i]['menu_name'] ?></a></div>
                                    <?php } ?>

                                    <?php if ( $categories[$i]['nested_level'] < $categories[$i - 1]['nested_level'] ) {
                                    $nested_chang =  $categories[$i]['nested_level'] < $categories[$i - 1]['nested_level'] ;
                                     for ($j = 0; $j < $nested_chang; $j++) { ?> </li> </ul>  <?php }  ?>
                        </li>
                        <li>
                            <div><a href="<?= $categories[$i]['menu_url'] ?>"><?= $categories[$i]['menu_name'] ?></a></div>
                            <?php } ?>

                            <?php } ?>

                            <?php for ($k = 0; $k < $categories[$categories_count - 1]['nested_level']; $k++) { ?> </li> </ul>  <?php }  ?>

                            </li>
                            <?php } ?>

                        </ul>

                    <script>

                        $(document).ready(function () {
                            $menu_list = $("#user_menu");
                            $menu_list.menu();

                            $menu_block = $('.user_menu_block');
                            $menu_btn = $('.user_menu_btn');

                            $menu_block.on('mouseenter', function() {
                                timeId_1 = setTimeout(function () {
                                    $menu_list.show(200);
                                }, 50);
                            })
                            $menu_block.on('mouseleave', function() {
                                timeId_2 = setTimeout(function () {
                                    $menu_list.hide(200);
                                }, 50);
                            })

                        })

                    </script>

                </li>



                <li
                <?php if (App::getRouter()->getController() == 'contacts') {?>class="active"<?php } ?>><a
                    href="/contacts/">Обратная связь</a></li>

                <?php if ( Session::get('login') ){?>
                <li
                <?php if ( App::getRouter()->getController() == 'users' && App::getRouter()->getAction() == 'cabinet' )
                {?>class="active"<?php } ?> >
                <a href="/users/cabinet">Кабинет</a></li>
                 <?php } ?>

                <?php if ( Session::get('login') ) { ?>
                <li><a href="/users/logout">Выход (<?= Session::get('login') ?>)</a></li>
                <?php } else { ?>

                <li
                <?php if ( App::getRouter()->getController() == 'users' && App::getRouter()->getAction() == 'register' )
                {?>class="active"<?php } ?> >
                <a href="/users/register">Регистрация</a></li>

                <li
                <?php if ( App::getRouter()->getController() == 'users' && App::getRouter()->getAction() == 'login' )
                {?>class="active"<?php } ?> >
                <a href="/users/login">Вход</a></li>
                <?php } ?>

                <li
                <?php if (App::getRouter()->getController() == 'articles') {?>class="active"<?php } ?>><a
                    href="/articles/filter_set/">Расширенный поиск</a>
                </li>


                <li  id="search_label">
                        <a href="" >
                            Поиск:
                        </a>

                    </li>
                    <li id="search_inp_block" >
                        <input type="text" id="search_inp_text" value="">
                            <span id="search_list"  style="">
                            </span>
                    </li>

                    <script>
                        $(document).ready(function () {
                            $block = $('#search_inp_block');
                            $list = $('#search_list');
                            $inp = $('#search_inp_text');

                            $block.on('mouseleave', function() {
                                timeId = setTimeout(function () {
                                    $list.hide(200);
                                }, 50);
                            })
                            $block.on('mouseenter', function() {
                                timeId2 = setTimeout(function () {
                                    if ($list.find('.search_item').first().text() != '') {
                                        $list.show(200);
                                    }
                                }, 50);
                            })

                            $inp.on('keyup', function () {
                                var text = $inp.val();
                                text = text.trim();
                                if (text == '') {
                                    $list.hide(200);
                                    return;
                                }
                                var uri = '/articles/search_ajax/' + text + '/';
                                myAjax(uri, text, searchReturn, searchReturnErr);
                            })

                            function searchReturn(data) {

                                data = JSON.parse(data);
                                $list = $('#search_list');

                                var str = '';

    //                            if ( data['tags'].length > 0 ) {
    //                                tags_count = data['tags'].length;
    //                                str = '<div class="search_titles"><b> Теги: </b></div>';
    //
    //                                for (j = 0; j < tags_count  && j < data['max_count']; j++) {
    //                                    str = str + '<a href="/articles/filter/?tags[]=' + data['tags'][j] + '" class="search_item">' + data['tags'][j] + '</a>';
    //                                }
    //                            }

                                if ( data['articles'].length > 0 ) {
                                    articles_count = data['articles'].length;
                                    str = str + '<div class="search_titles"><b> Продукты: </b></div>';

                                    for (i = 0; i < articles_count && i < data['max_count']; i++) {
                                        str = str + '<a href="/article_page/view/' + data['articles'][i]['id'] + '/"  class="search_item">' + data['articles'][i]['title'] + '</a>';
                                    }
                                }

                                if ( data['categories'].length > 0 ) {
                                    categories_count = data['categories'].length;
                                    str = str + '<div class="search_titles"><b> Категории: </b></div>';

                                    for (i = 0; i < categories_count && i < data['max_count']; i++) {
                                        str = str + '<a href="/articles/filter/?categ[]=' + data['categories'][i]['id'] + '"  class="search_item">' + data['categories'][i]['category_name'] + '</a>';
                                    }
                                }

                                if ( str.length > 0 ) {
                                     $list.html(str);
                                     $list.show(200);
                                } else {
                                    $list.html('');
                                    $list.hide(200);
                                }
                            }
                            function searchReturnErr() {
                                alert('Error Ajax');
                            }
                        })
                    </script>


                <li
                <?php if (App::getRouter()->getController() == 'articles') {?>class="active"<?php } ?>><a
                    href="/articles/filter_set/">Корзина:<span class="cart_count">0</span></a>
                </li>



            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<div class="container main-container">

    <div class="top_line_logo" >
            <a class="" href="/home/"><?= Config::get('site_name') ?></a>
    </div>

    <?php if ( Session::hasflash()) { ?>
    <div class="alert alert-info" role="alert">
        <?php Session::flash(); ?>
    </div>
    <?php } ?>



    <div class="main-section starter-template">
        <?=$data['content']?>
    </div>


</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; 2017 My site</p>
    </div>
</div>




<div id="subscribe" style="display: none; width: 500px; height: 400px; position: fixed; bottom: 50px; right: 50px; padding:30px; background-color: #cccccc;">
    <h3  class="" >Подпишитесь на нашу рассылку</h3><br/>

    <form method="post" action="" class="">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" value="" class="form-control" />

        </div>
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="surname" value="" class="form-control" />

        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" value="" class="form-control"/>

        </div>
        <input type="submit" class="btn btn-success" value="Подписаться" />
        <span id="subscr_btn" class="btn btn-sm btn-warning">Close</span>
    </form>

</div>




<div id="cart" style="display: none; width: 500px; min-height: 300px; position: fixed; top: 200px; right: 200px; padding:30px; background-color: #cccccc;">
    <h3  class="" >Корзина</h3><br/>

    <form method="post" action="" class="">
        <div class="form-group">
            <table>
                <hr>
                <tr class="product_row" id="0">
                    <td>
                        <input type="hidden" class="cart_product_id" value="">
                        Название: <br>
                        <span class="cart_product_name" ></span><br>
                        Количество<br>
                        <input type="text" class="cart_product_count" value="0">
                    </td>
                </tr>
            </table>

            <hr>
        <input type="submit" class="btn btn-success" value="Заказать" />
        <span id="subscr_btn" class="btn btn-sm btn-warning">Закрыть</span>

            <?php if ( Session::get('login')  ) { ?>
            <p>
               Вы можете зарегистрироваться <a  href="/users/register">здесь</a>
            </p>

            <?php } ?>
    </form>

</div>


<script>
    $(document).ready(function () {


            $('.cart_add_btn').on('click', function () {
                $cart = $('#cart');
                $cart_count = $('.cart_count');
                $cart_count.fadeOut(100);
                $product_input_id = $('.product_hidden_id');
                $product_input_name = $('.product_hidden_name');


                var id = $product_input_id.val();
                var text = $product_input_name.val();

                $cart_row = $('#' + id);
                var count = $cart_row.find('.cart_product_count').val();
                count = parseInt(count) + 1;


                var $row = $('<tr class="product_row" id="' + id + '"><td><input type="hidden" class="cart_product_id" value="">Название: <br><span class="cart_product_name" >' + text + '</span><br> Количество<br>
                        <input type="text" class="cart_product_count" value="' + count + '"></td></tr>');

                $options_list_div = $cart.find('table');
                $options_list_div.append($row);
             });
    })
</script>





</body>
</html>