<?php if ( isset($data['article']) ) { ?>
<h1>Редактировать товар:</h1>
<p><?=$data['article']['id']?> - <?=$data['article']['title']?></p>
<?php } else { ?>
<h1>Добавить товар</h1><br/>
<?php } ?>


<form id="article_form" method="post" action="" enctype="multipart/form-data" style="width: 100%;">
    <p>
        <input type="submit" class="btn btn-success" value="Сохранить" style="width: 100px;"/>&nbsp;
        <?php if ( isset($data['article']['id']) ) { ?>
        <a href="/admin/articles/delete/<?= $data['article']['id'] ?>" class="btn btn-success"
           onclick="return confirm('Вы действительно хотите удалить этот товар?');">Удалить товар</a>&nbsp;
        <a href="/article_page/view/<?= $data['article']['id'] ?>" class="btn btn-success">Просмотреть товар</a>&nbsp;
        <a href="/admin/articles/edit/" class="btn btn-success">Новый товар</a>&nbsp;
        <?php } ?>
        <a href="/admin/articles/" class="btn btn-success">Список товаров</a>&nbsp;

    </p>

    <div id="tabs" style="width: 100%;">
        <ul>
            <li><a href="#tabs-1">Основные данные</a></li>
            <li><a href="#tabs-2">Характеристики</a></li>
            <li><a href="#tabs-3">Описание</a></li>
            <li><a href="#tabs-4">Изображения</a></li>
            <li><a href="#tabs-5">Категории</a></li>
            <!--<li><a href="#tabs-6">Теги</a></li>-->
        </ul>

        <div id="tabs-1">
            <input id="article_id" type="hidden" name="id"
                   value="<?= isset($data['article']['id']) ? $data['article']['id'] : '' ?>"/>
            <input type="hidden" id="date_created" name="date_created"
                   value="<?= isset($data['article']['date_created']) ? $data['article']['date_created'] : ''  ?>"
                   class="form-control"/>
            <input type="hidden" id="date_published" name="date_published"
                   value="<?= isset($data['article']['date_published']) ? $data['article']['date_published'] : ''  ?>"
                   class="form-control"/>
            <input type="hidden" id="is_published_old" name="is_published_old"
                   value="<?= isset($data['article']['is_published']) ? $data['article']['is_published'] : ''  ?>"
                   class="form-control"/>

            <div class="form-group">
                <input type="checkbox" id="is_published"
                       name="is_published" <?php if ( isset($data['article']['is_published']) && $data['article']['is_published'] == 1 ) { ?>
                checked="checked" <?php } ?> />
                <label for="is_published">Опубликовано? </label>
            </div>
            <div class="form-group">
                <label for="title">Название <i>(обязательное для заполнения поле)</i></label>
                <input type="text" id="title" name="title"
                       value="<?= isset($data['article']['title']) ? $data['article']['title'] : ''  ?>"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="price">Цена </label>
                <input type="text" id="price" name="price"
                       value="<?= isset($data['article']['price']) ? $data['article']['price'] : ''   ?>"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="action_type">Тип акции: </label>
                <input type="text" id="action_type" name="action_type"
                       value="<?= isset($data['article']['action_type']) ? $data['article']['action_type'] : ''   ?>"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="action_price">Акционная цена/скидка: </label>
                <input type="text" id="action_price" name="action_price"
                       value="<?= (isset($data['article']['action_type']) && isset($data['article']['action_price']) && $data['article']['action_price'] != 0) ? $data['article']['action_price'] : ''   ?>"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="description">Краткое описание</label>
                <textarea id="description" name="description" class="form-control"
                          rows="3"><?= isset($data['article']['description']) ? $data['article']['description'] : ''   ?></textarea>
            </div>

        </div>


        <div id="tabs-2">
            <div class="form-group">
                <p>Из всех возможных характеристик/опций выберите необходимые для этого товара</p>

                <?php
                if (isset($data['specifications_all'])) {
                    foreach( $data['specifications_all'] as $specific_item) {
                        $specification_id = $specific_item['specification']['specification_id'];
                        $specification_name = $specific_item['specification']['specification_name'];
                        $specification_type = $specific_item['specification']['specification_type'];
                        $product_options_ids = array_column($specific_item['options_of_product'], 'id_of_option' );
                        ?>
                <hr>
                <h2><?= $specification_id . ' -- ' . $specification_name ?></h2>
                <p> Тип значений: <?= $specification_type ?> </p>
                <input type="hidden" class="product_option_type"
                       name="specification_value_type[<?= $specification_id ?>]" value="<?= $specification_type ?>">
                <div >
                    <div class="options_of_specification_<?= $specification_id ?>">
                             <?php
                              if ( isset($specific_item['options']) ) {

                                foreach ( $specific_item['options'] as $options_item ) {
                                    $option_value_field = 'option_value_' . $specification_type;
                                    $option_value = $options_item[$option_value_field];
                                    $option_id = $options_item['option_id'];
                                    $option_checkbox_name = 'options[' . $specification_id . ']' . '[' . $option_id . ']' ;
                                    $option_checkbox_checked = ( in_array($option_id, $product_options_ids ) ) ? ' checked="" ' : '';
                                    ?>
                                    <p><input type="checkbox" class="product_option_checkbox" name="<?= $option_checkbox_name ?>"
                                              value="<?= $option_value ?>" <?= $option_checkbox_checked ?> > <?= $option_value ?>   </p>
                                <?php  }}

                              if ( isset($specific_item['options_only_this_product_specific']) && count($specific_item['options_only_this_product_specific']) ) {
                                foreach ( $specific_item['options_only_this_product_specific'] as $opt_item ) {
                                    $option_value_field = 'custom_value_' . $specification_type;
                                    $option_value = $opt_item[$option_value_field];
                                    $option_checkbox_name = 'options[' . $specification_id . ']' . '[0][]' ;
                                    ?>
                                    <p><input type="checkbox" class="product_option_checkbox active" name="<?= $option_checkbox_name ?>"
                                              value="<?= $option_value ?>" checked="" > <?= $option_value ?>  <i style="font-size: 0.9em;">(локальная опция, только для этого товара)</i> </p>
                                <?php  } }
                              ?>
                    </div>


                    <script>
                        $(document).ready(function () {
                            $('.custom_option_add_btn_<?= $specification_id ?>').on('click', function () {
                                $custom_option_input = $('.custom_option_input_<?= $specification_id ?>');
                                var text = $custom_option_input.val();
                                var $option_checkbox = $('<p><input type="checkbox" class="product_option_checkbox active" checked name="options[<?= $specification_id ?>][0][]"  value="' + text.trim() + '"> ' + text.trim() + ' <i style="font-size: 0.9em;">(локальная опция, только для этого товара)</i>  </p>');

                                $option_checkbox.find('input').on('click', function () {
                                    $(this).toggleClass('active');
                                });

                                if (text.trim() !== '') {
                                    $options_list_div = $(this).parent().find('.options_of_specification_<?= $specification_id ?>');
                                    $options_list_div.append($option_checkbox);
                                }
                            });
                        })
                    </script>


                    Можно добавить свое значение:
                    <input type="text" class="custom_option_input_<?= $specification_id ?>" name="custom_option_input[<?= $specification_id ?>]"
                           value="">
                    <span class="custom_option_add_btn_<?= $specification_id ?>  btn btn-sm btn-default">Добавить</span>

                </div>

                <?php  }
                } ?>

            </div>
        </div>


        <div id="tabs-3">
            <div class="form-group">
                <label for="text">Для добавления и редактирования изображений воспользуйтесь меню "Insert -> Image ->
                    Upload"</label>
                <textarea id="text" name="text" class="form-control"
                          rows="15"><?= isset( $data['article']['text']) ?  $data['article']['text'] : '' ?></textarea>
            </div>
        </div>


        <div id="tabs-4">
            <label for="images">Добавить изображения:</label>
            <input type="file" id="images" name="images[]" multiple="" accept="image/*"/><br/>

            <label for="images">Заменить изображения:</label>
            <table class="table table-striped" style="width: 100%;">
                <tr style="font-weight: bolder; ">
                    <td style="width: 5%;">#</td>
                    <td style="width: 20%;">Изображение</td>
                    <td style="width: 30%;">Имя файла</td>
                    <td style="width: 30%;">Заменить изображение</td>
                    <td style="width: 10%;">Удалить изображение</td>
                </tr>
                <?php if ( isset($data['article_images']) && is_array($data['article_images']) ) {
                $i=1;
                foreach( $data['article_images'] as $img) { ?>
                <tr>
                    <td><?= $i++ ?></td>
                    <td><img src="/webroot/img/articles/<?= $img['full_name'] ?>" alt="" style="width: 100px;"></td>
                    <td><?= $img['full_name'] ?></td>
                    <td align="left">
                        <input   class="" type="file" name="image[<?= $img['id'] ?>]" accept="image/*"/>
                    </td>
                    <td align="left">
                        <a class="btn btn-sm btn-default" href="/admin/articles/deleteimage/<?= $img['full_name'] . '/' . $data['article']['id'] ?>"
                           onclick="return confirmDelete();">удалить</a>
                    </td>
                </tr>
                <?php }} ?>
            </table>
        </div>

        <div id="tabs-5">

            <label for="images">Добавьте или удалите категории/подкатегории , в которых будет отображаться
                товар: </label>
            <table id="categories" class="table table-default"  style="width:100%;">

                <tr id="category_base" data_parent_id="" class="category" style="display: none;  ">
                    <td class="categ_check" width="40px" style="vertical-align:middle;"></td>
                    <td class="categ_id" width="50px" style="vertical-align:middle;"></td>
                    <td class="categ_text" width="410px" style="vertical-align:middle; "></td>
                    <td align="right" width="400px" style="vertical-align:middle; ">
                        <span class="categ_add  btn btn-sm btn-default">добавить товар в эту категорию</span>
                        <span class="categ_delete  btn btn-sm btn-default">убрать из этой категории</span>
                        <input type="hidden" class="categ_input_hidden" name="" value="" style="display: none;  "/>
                    </td>
                </tr>

            </table>

        </div>


        <!--<div id="tabs-6">-->
            <!--<div class="form-group">-->
                <!--<label for="tags">Теги ( ',' - разделитель тегов ):</label>-->
                <!--<textarea id="tags" name="tags"-->
                          <!--class="form-control"><?= isset( $data['article']['tags']) ?  $data['article']['tags'] : '' ?></textarea>-->
            <!--</div>-->
        <!--</div>-->



    </div>

    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>

</form>


<script>

    document.addEventListener("DOMContentLoaded", categoriesGet);

    function categoriesGet() {

        $categories_wrapp = $('#categories');
        $category_base_element = $('#category_base');

        var article_id = $('#article_id').val();

        var data = {};
        var uri = '/admin/articles/categories_get_ajax/';
        if (article_id != '') {
            uri = uri + article_id + '/';
        }
        myAjax(uri, data, categoriesReturn, categoriesReturnErr);


        function categoriesReturn(data) {

            if (data) {
                $('tr[data_base_element="no_base_element"]').remove();
            }

            var article_data = JSON.parse(data);
            var categories = article_data['categories'];
            var article_categories = article_data['article_categories'];
            var categoriesLength = categories.length;

            for (i = 0; i < categoriesLength; i++) {

                $row = categories[i];

                $categ_clone = $category_base_element.clone();

                $categ_clone.css('display', 'block');
                $categ_clone.attr('data_base_element', 'no_base_element');
                $categ_clone.attr('data_categ_id', $row['id']);
                $categ_clone.attr('data_categ_parent_id', $row['parent_id']);
                $categ_clone.find('.categ_text').css('padding-left', 50 * $row['nested_level'] + 'px');
                $categ_clone.find('.categ_id').text($row['id']);
                $categ_clone.find('.categ_text').text($row['category_name']);
                $categ_clone.find('.categ_input_hidden').val($row['id']);

                var check = false;
                for (var j = 0; j < article_categories.length; j++) {
                    if ($row['id'] == article_categories[j]) {
                        check = true;
                        break;
                    }
                }
                if (check) {
                    $categ_clone.find('.categ_check').html('&#10004;');
                    $categ_clone.find('.categ_add').css('display', 'none');
                    $categ_clone.find('.categ_delete').css('display', 'inline-block');
                    $categ_clone.find('.categ_input_hidden').attr('name', 'categories[]');
                } else {
                    $categ_clone.find('.categ_add').css('display', 'inline-block');
                    $categ_clone.find('.categ_delete').css('display', 'none');
                }

                $categories_wrapp.append($categ_clone);
            }

            $('.category .categ_add').on('click', function () {
                $this_row = $(this).parent().parent();
                var categ_id = $this_row.attr('data_categ_id');

                var data = {
                    operation: 'add',
                    article_categories: article_categories,
                    categories: categories
                };

                if (article_id != '') {
                    var uri = '/admin/articles/update_categ_ajax/' + categ_id + '/' + article_id + '/';
                } else {
                    var uri = '/admin/articles/update_categ_ajax/' + categ_id + '/';
                }
                myAjax(uri, data, categoriesReturn, categoriesReturnErr);
            });

            $('.category .categ_delete').on('click', function () {
                if (confirm('Вы действительно хотите отменить отображение товара в этой категории и во всех дочерних категориях?')) {
                    $this_row = $(this).parent().parent();
                    var categ_id = $this_row.attr('data_categ_id');

                    var data = {
                        operation: 'delete',
                        article_categories: article_categories,
                        categories: categories
                    };
                    if (article_id) {
                        var uri = '/admin/articles/update_categ_ajax/' + categ_id + '/' + article_id + '/';
                    } else {
                        var uri = '/admin/articles/update_categ_ajax/' + categ_id + '/';
                    }
                    myAjax(uri, data, categoriesReturn, categoriesReturnErr);
                }
            });

        }

        function categoriesReturnErr() {
            alert('Error');
        }

    }
</script>


<script>
    /* Настройки для плагина TinyMCE  ( WYSIWYG редактор ) */
    tinymce.init({
        selector: 'textarea#text',
        inline: false,
        mode: "textareas",
        theme: 'modern',
        content_css: 'css/tinymce_editor.css',
        theme_advanced_buttons1: "undo, redo, |, bold, italic, underline, strikethrough, |, justifyleft, justifycenter, justifyright, justifyfull, styleselect, formatselect, fontselect, fontsizeselect, sub, sup, |, forecolor, backcolor",
        theme_advanced_buttons2: "cut, copy, paste, pastetext, pasteword, removeformat, cleanup, |, search, replace, |, bullist, numlist, |, outdent, indent, blockquote, |, link, unlink, image, |, insertdate, inserttime, hr, |, charmap, emotions, iespell",
        theme_advanced_buttons3: "tablecontrols, |, visualaid",
        theme_advanced_buttons4: "styleprops, |, cite, abbr, acronym, del, ins, |, visualchars, nonbreaking, |, print, preview, |, fullscreen",
        plugins: [
            'advlist autolink link autoresize image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
        ],
//        image_list: [
//            {title: 'My image 1', value: 'http://diplom/webroot/img/articles/4_hyperloop-one-winners-1-218x150.jpeg'},
//            {title: 'My image 2', value: 'localhost://diplom/webroot/img/articles/61_tesla-model-3-first-ride-002-1020.0.0-218x150.jpg'}
//                        ],
//        importcss_append: true,
        content_style: "img {margin: 10px; } ",
        paste_data_images: true,
        image_title: true,
        images_upload_url: '/admin/articles/tinymce_upload_image_to_article/120/',
//              images_upload_base_path: '',
//              images_upload_credentials: true,
        images_upload_handler: function (blobInfo, success, failure) {
            var xhr, formData;

            xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.open('POST', "/admin/articles/tinymce_upload_image_to_article/<?php echo isset($data['article']['id']) ? $data['article']['id'] : ' - 9' ; ?>/");

            xhr.onload = function () {
                var json;

                if (xhr.status != 200) {
                    failure('HTTP Error: ' + xhr.status);
                    return;
                }

                json = JSON.parse(xhr.responseText);

                if (!json || typeof json.location != 'string') {
                    failure('Invalid JSON: ' + xhr.responseText);
                    return;
                }

                success(json.location);
            };

            formData = new FormData();
            formData.append('image_tinymce[]', blobInfo.blob(), blobInfo.filename());

            xhr.send(formData);
        },
        image_advtab: true
    });
</script>






