<div class="side_wrap left">
    <?= $data['module_side_left'] ?>
</div>

<div class="main_content">

    <?php if ( isset($data['selected_categ']) && $data['selected_categ'] != '' ) {
            $categories_url_base = $data['categories_url_base'];
            $categ_arr = [];
            foreach($data['selected_categ'] as $category) {
                $categ_arr[] = '<a  href="' . $categories_url_base .'?categ[]=' . $category['id'] . '" >' . $category["category_name"] . '</a>';
    }
    $categ_str = implode( " > " , $categ_arr );
    ?>
    <p><?= $categ_str ?></p>
    <?php } ?>


    <?php if ($data['article_page']) { ?>

    <input type="hidden" class="product_hidden_id" value="<?=$data['article_page']['id'] ?>">
    <input type="hidden" class="product_hidden_name" value="<?=$data['article_page']['title'] ?>">


        <h1><?=$data['article_page']['title'] ?></h1><br/>



        <?php if ($data['article_page']['date_published']) { ?>
            <span><?= my_format_date( $data['article_page']['date_published'] ) ?></span>
        <?php }  ?>
        &nbsp;&nbsp;&nbsp;

        &nbsp;&nbsp; <br>
        <span id="visited">Просмотров: <?= $data['article_page']['visited'] ?></span></b>
        <?php if (Session::get('role') === 'admin') {  ?>
            <i>(просмотры администратора сайта не учитываются)</i>
        <?php }  ?>
    <hr>
<span class="cart_add_btn  btn btn-sm btn-default">Добавить в карзину</span>
        <hr>


        <?php if (isset($data['article_images'])  && count($data['article_images']) ) {

            $images_count = count($data['article_images']) ;
            $images_width = 100 / $images_count - 1 ;  ?>

            <div>

             <?php for($i = 0; $i < $images_count; $i++) {
                $image = $data['article_images'][$i];
                ?>
                    <div style="display: inline-block; width: <?= $images_width ?>% ;">
                        <img class="product__img"  src="/webroot/img/articles/<?= $image['full_name'] ?>" alt=""  style="width: 100%;">
                    </div>

             <?php } ?>

            </div>
        <?php }  ?>

        <hr>

         <div id="article_text_wrap" >
            <?php if ($data['article_page']['text']) echo  $data['article_page']['text']; ?>
        </div>

         <hr>


        <h2>Характеристики продукта: </h2>
        <table  class="table table-default"  style="width:100%;">

            <?php if (isset($data['article_specifications'])  && count($data['article_specifications']) ) {

            $specifications_count = count($data['article_specifications']) ;
            ?>

            <div>

                <?php for($i = 0; $i < $specifications_count; $i++) {
                    $specification = $data['article_specifications'][$i];
                    ?>

                    <tr   style=" width: 100%;">
                        <td style="vertical-align:middle; width: 40%;"><?= $specification['specification_name'] ?></td>
                        <td  style="vertical-align:middle;">
                            <?php if (isset($specification['options'])  && count($specification['options']) ) {
                            $options_str = implode(', ', $specification['options']) ;
                            ?>
                                 <?= $options_str ?>
                            <?php }  ?>
                        </td>
                    </tr>

                <?php } ?>

            </div>
            <?php }  ?>



        </table>






    <hr>
        <h2>Комментарии</h2>

        <div>Показать комментарии с меткой:
            <a class="comm_filter btn btn-sm btn-link " data-filter="recommend"  style=" margin-left: 0px;  text-decoration: none; ">Рекомендую</a>
            <a class="comm_filter btn btn-sm btn-link " data-filter="not_recommend"   style=" margin-left: 0px;  text-decoration: none; ">Не рекомендую</a>
            <a class="comm_filter btn btn-sm btn-link comm_filter_active" data-filter="all"  style=" margin-left: 0px;  text-decoration: underline; ">Все</a>
        </div>

        <hr>

        <?php if (Session::get('role') != 'admin') {  ?>
            <div class="window_message_for_user"  style=" display: none; position: fixed; left: 30%; top: 40%; width: 400px; padding: 30px; background-color: #fff; text-align: left; border-radius: 10px ;border:1px solid #aaa; ">
                <p style="color: #000;">Ваше сообщение появится после проверки модератором.</p>
                <button class="message_close_window  btn btn-sm btn-default">Закрыть</button>
            </div>
        <?php  } ?>

        <div id="comments" style="padding: 5px 20px; ">

            <?php if (Session::get('role') === 'admin') {  ?>
            <p style="border: 7px solid #f55 ; text-align: center; "> Администратору: ожидающие одобрения комментарии (с меткой «Не рекомендую») выделены красной рамкой </p>
            <?php  }  ?>

            <div id="0"  class="comment" >

                <?php if (Session::get('role')) {  ?>

                <p>Вы можете оставить свой комментарий:</p>

                <a class="comm_recommend_btn btn btn-sm btn-link comm_recommend_active" data-comm-recommend="0"  style=" margin-left: 0px;  text-decoration: underline; ">Без оценки</a>
                <a class="comm_recommend_btn btn btn-sm btn-link "  data-comm-recommend="1"  style=" margin-left: 0px;   text-decoration: none;">Рекомендую</a>
                <a class="comm_recommend_btn btn btn-sm btn-link "  data-comm-recommend="-1"  style=" margin-left: 0px;   text-decoration: none; ">Не рекомендую</a>

                <textarea name="comm_input" class="comm_input"  style="display: block; width: 100%; padding:10px; margin: 5px 0px 0px 0px;"></textarea>
                <span class="comm_send_btn btn btn-sm btn-default" onclick=""  style="display:inline-block; ;">Отправить</span>

                <?php  } else { ?>
                <p>Комментарии могут оставлять только зарегистрированные пользователи.</p>
                <?php  }  ?>

            </div>



            <div id="comment_base" data_parent_id=""  class="comment"  align="left"
            style="padding: 10px 0px 10px 0px ; display: none; ">

                <span class="comm_user_id" style="display:none">  </span>
                <span class="comm_nested_level" style="display:none">  </span>
                <span class="comm_time_stamp" style="display:none">  </span>

                <b><span class="comm_login" style="margin: 0px 3px;">  </span></b>
                <span class="comm_date"  style="margin: 0px 3px;">  </span>


                <?php  if (Session::get('role')) {  ?>
                    <img src="/webroot/img/icons/thumb_up.png" alt="" class="comm_like_btn  btn btn-sm "   style="margin: 0px 0px 0px 5px;" >
                <?php  } else { ?>
                     <img src="/webroot/img/icons/thumb_up.png" alt="" class=""   style="margin: 0px 0px 0px 5px;" >
                <?php  }  ?>

                <span class="comm_like_count"  style="margin: 0px 5px 0px 0px;">  </span>


                <?php  if (Session::get('role')) {  ?>
                    <img src="/webroot/img/icons/thumb_down.png" alt="" class="comm_dislike_btn  btn btn-sm "   style="margin: 0px 0px 0px 5px;" >
                <?php  } else { ?>
                     <img src="/webroot/img/icons/thumb_down.png" alt="" class=""   style="margin: 0px 0px 0px 5px;" >
                <?php  }  ?>

                <span class="comm_dislike_count"  style="margin: 0px 5px 0px 0px;">  </span>

                <a class="comm_recommend_btn btn btn-sm btn-link " data-comm-recommend="0"  style="display: none; margin-left: 0px;  text-decoration: none; ">Без оценки</a>
                <a class="comm_recommend_btn btn btn-sm btn-link "  data-comm-recommend="1"  style="display: none;  margin-left: 0px;   text-decoration: none;">Рекомендую</a>
                <a class="comm_recommend_btn btn btn-sm btn-link "  data-comm-recommend="-1"  style="display: none;  margin-left: 0px;   text-decoration: none; ">Не рекомендую</a>

                <div name="" class="comm_text"  style="width: 100%; background-color: #fff; border: 1px solid #aaa; padding:10px;">   </div>

                <?php if (Session::get('role')) {  ?>
                        <textarea name="comm_input" class="comm_input"  style="display: none; width: 100% ; padding:0px; margin: 5px 0px 0px 0px;"></textarea>

                        <span class="comm_send_btn btn btn-sm btn-default" onclick=""  style="display: none; margin-left: 0px;">Сохранить</span>
                        <span class="comm_cancel_btn btn btn-sm btn-default" onclick=""  style="display: none;">Отмена</span>
                        <span class="comm_reply_btn btn btn-sm btn-default" onclick="" style="display: inline-block;">Ответить</span>

                        <span class="comm_edit_btn btn btn-sm btn-default" onclick="" style="display: inline-block;">Редактировать</span>
                        <span class="comm_delete_btn btn btn-sm btn-default" onclick="" style="display: inline-block;">Удалить</span>

                      <?php if (Session::get('role') == 'admin' ) {  ?>
                            <span class="comm_publish_btn btn btn-sm btn-default" onclick="" style="display: none;">Одобрить</span>
                            <span class="comm_hide_btn btn btn-sm btn-default" onclick="" style="display: inline-block;">Скрыть</span>
                       <?php  } ?>

                <?php  } ?>


            </div>


            <div    id="user_id"  data_user_id="<?= $data['user']['id'] ?>" style="display: none;" ></div>
            <div    id="user_login"  data_user_login="<?= $data['user']['login'] ?>" style="display: none;" ></div>
            <div    id="user_role"  data_user_role="<?= $data['user']['role'] ?>" style="display: none;" ></div>
            <div    id="article_id"  data_article_id="<?= $data['article_page']['id'] ?>" style="display: none;" ></div>


        </div>

    <?php } else {?>
        <p>Такой страницы не существует</p>
    <?php } ?>


</div>


<div class="side_wrap right">
    <?= $data['module_side_right'] ?>
</div>






<script>

    document.addEventListener("DOMContentLoaded", commentsGet);


    function commentsGet() {

        $comments_wrapp = $('#comments');
        $comment_base_element = $('#comment_base');

        var comments_filter = $('.comm_filter.comm_filter_active').attr('data-filter');
        var user_id = $('#user_id').attr('data_user_id');
        var user_role = $('#user_role').attr('data_user_role');
        var article_id = $('#article_id').attr('data_article_id');
        if (article_id) {
            var data = {'comments_filter': comments_filter};
            var uri = '/article_page/comments_get_ajax/' + article_id + '/';
            myAjax(uri, data, commentsReturn, commentsReturnErr);
        }

        $('.comm_filter').on('click', function () {
            $this_div = $(this).parent();
            $this_div.find('.comm_filter').css('text-decoration', 'none');
            $this_div.find('.comm_filter').removeClass('comm_filter_active');
            $(this).css('text-decoration', 'underline');
            $(this).addClass('comm_filter_active');
            commentsGet();
        });



        function commentsReturn(data) {

            if (data) {
                $('div[data_base_element="no_base_element"]').remove();

                var comments = JSON.parse(data);
                var commLength = comments.length;

                for (i = 0; i < commLength; i++) {

                    $row = comments[i];

                    $comm_clone = $comment_base_element.clone();

                    $comm_clone.attr('data_base_element', 'no_base_element');
                    $comm_clone.css('display', 'block');
                    $comm_clone.css('padding-left', 30 * $row['nested_level'] + 'px');
                    $comm_clone.attr('id', $row['id_comment']);
                    $comm_clone.attr('data_parent_id', $row['id_parent_comment']);
                    $comm_clone.find('.comm_login').text($row['login']);
                    $comm_clone.find('.comm_user_id').text($row['id']);
                    $comm_clone.find('.comm_nested_level').text($row['nested_level']);
                    $comm_clone.find('.comm_date').text($row['date']);
                    $comm_clone.find('.comm_time_stamp').text($row['time_stamp']);
                    $comm_clone.find('.comm_like_count').text($row['like_count']);
                    $comm_clone.find('.comm_dislike_count').text($row['dislike_count']);
                    $comm_clone.find('.comm_text').text($row['text']);

                    if ($row['nested_level'] !== 0) {
                        $comm_clone.find('.comm_recommend_btn').hide();
                    } else {
                        $comm_clone.find('.comm_recommend_btn[data-comm-recommend="' + $row['recommend'] + '"]')
                                .show().addClass('comm_recommend_active')
                                .css('text-decoration', 'underline');
                    }

                    if ( $row['is_published'] === '0' ) {
                        $comm_clone.find('.comm_text').css('border', '7px solid #f55');
                        $comm_clone.find('.comm_publish_btn').css('display', 'inline-block');
                        $comm_clone.find('.comm_hide_btn').css('display', 'none');
                    }

                    $comments_wrapp.append($comm_clone);
                }

            }


            /* Отображениев в течение 60сек кнопок редактирования и удаления для нового комментария пользователя */
            var now = new Date().getTime();
            $('.comment[data_base_element="no_base_element"]')
                    .each( function(indx, element){
                        var comment_time_stamp =  1000 * parseInt($(element).find('.comm_time_stamp').text()) ;
                        var time_interval = ( now > (comment_time_stamp + 60000) ) ? 0 : (comment_time_stamp + 60000) - now  ;
                        var comm_user_id = parseInt($(element).find('.comm_user_id').text());
                        if (comm_user_id == user_id && user_role != 'admin') {
                            $(element).find('.comm_edit_btn, .comm_delete_btn').delay(time_interval).hide(0);
                        } else if (user_role != 'admin') {
                            $(element).find('.comm_edit_btn, .comm_delete_btn').hide();
                        }
                    });


            $('.comment .comm_like_btn').on('click', function () {
                $this_div = $(this).parent();
                var id = $this_div.attr('id');

                var data = {};
                var uri = '/article_page/comment_like_ajax/' + id + '/' + user_id + '/';
                myAjax(uri, data, commentLike, commentsReturnErr);

                function commentLike(data){
                    var like_count = $this_div.find('.comm_like_count').text();
                    like_count = parseInt(like_count);
                    if (data == 1) {
                        $this_div.find('.comm_like_count').text( like_count + 1 );
                    }
                }
            });

            $('.comment .comm_dislike_btn').on('click', function () {
                $this_div = $(this).parent();
                var id = $this_div.attr('id');

                var data = {};
                var uri = '/article_page/comment_dislike_ajax/' + id + '/' + user_id + '/';
                myAjax(uri, data, commentDislike, commentsReturnErr);

                function commentDislike(data){
                    var dislike_count = $this_div.find('.comm_dislike_count').text();
                    dislike_count = parseInt(dislike_count);
                    if (data == 1) {
                        $this_div.find('.comm_dislike_count').text( dislike_count + 1 );
                    }
                }
            });

            $('.comment .comm_recommend_btn').on('click', function () {

                if (user_id !== '') {
                    $this_div = $(this).parent();
                    $this_div.find('.comm_recommend_btn').css('text-decoration', 'none');
                    $this_div.find('.comm_recommend_btn').removeClass('comm_recommend_active');
                    $(this).css('text-decoration', 'underline');
                    $(this).addClass('comm_recommend_active');
                }
            });

            $('.comment .comm_send_btn').on('click', function () {

                $this_div = $(this).parent();
                var id = $this_div.attr('id');
                var nested_level = $this_div.find('.comm_nested_level').text();
                var text = $this_div.find('.comm_input').val();
                $this_div.find('.comm_input').val('');
                text = text.trim();
                var recommend = $this_div.find('.comm_recommend_btn.comm_recommend_active').attr('data-comm-recommend');
                if ( nested_level !== '' ) {
                    recommend = 0;
                }

                if (recommend === '-1' && (nested_level === '0' || nested_level == '') ) {
                    $('.window_message_for_user').css('display', 'block');

                    $('.message_close_window').on('click', function () {
                        $('.window_message_for_user').css('display', 'none');
                    });
                }

                if (text != '') {
                    var is_edit = $this_div.find('.comm_input').attr('data_comm_edit');
                    var uri;
                    var data = {
                        'text': text,
                        'id_comment': id,
                        'id_user': user_id,
                        'id_article': article_id,
                        'recommend': recommend
                    };

                    if (is_edit == 'on') {
                        uri = '/article_page/comment_edit_ajax/' + article_id + '/';
                    } else {
                        uri = '/article_page/comment_add_ajax/' + article_id + '/';
                    }

                    myAjax(uri, data, commentsReturn, commentsReturnErr);
                }

            });

            $('.comment .comm_reply_btn').on('click', function () {
                $this_div = $(this).parent();
                $this_div.find('.comm_input').css('display', 'block');
                $this_div.find('.comm_send_btn').css('display', 'inline-block');
                $this_div.find('.comm_cancel_btn').css('display', 'inline-block');
                $this_div.find('.comm_reply_btn').css('display', 'none');
                $this_div.find('.comm_edit_btn').css('transform', 'scale(0)');
                $this_div.find('.comm_publish_btn').css('transform', 'scale(0)');
                $this_div.find('.comm_hide_btn').css('transform', 'scale(0)');
                $this_div.find('.comm_delete_btn').css('transform', 'scale(0)');
            });

            $('.comment .comm_edit_btn').on('click', function () {
                $this_div = $(this).parent();
                var text = $this_div.find('.comm_text').text();
                $this_div.find('.comm_input').val(text);
                $this_div.find('.comm_input').attr('data_comm_edit', 'on');
                $this_div.find('.comm_input').css('display', 'block');
                $this_div.find('.comm_send_btn').css('display', 'inline-block');
                $this_div.find('.comm_cancel_btn').css('display', 'inline-block');
                $this_div.find('.comm_reply_btn').css('display', 'none');
                $this_div.find('.comm_edit_btn').css('transform', 'scale(0)');
                $this_div.find('.comm_publish_btn').css('transform', 'scale(0)');
                $this_div.find('.comm_hide_btn').css('transform', 'scale(0)');
                $this_div.find('.comm_delete_btn').css('transform', 'scale(0)');
                $comm_clone.find('.comm_recommend_btn').show();
            });

            $('.comment .comm_cancel_btn').on('click', function () {
                $this_div = $(this).parent();
                $this_div.find('.comm_input').val('');
                $this_div.find('.comm_input').attr('data_comm_edit', 'off');
                $this_div.find('.comm_input').css('display', 'none');
                $this_div.find('.comm_send_btn').css('display', 'none');
                $this_div.find('.comm_cancel_btn').css('display', 'none');
                $this_div.find('.comm_reply_btn').css('display', 'inline-block');
                $this_div.find('.comm_edit_btn').css('transform', 'scale(1)');
                $this_div.find('.comm_publish_btn').css('transform', 'scale(1)');
                $this_div.find('.comm_hide_btn').css('transform', 'scale(1)');
                $this_div.find('.comm_delete_btn').css('transform', 'scale(1)');
            });

            $('.comment .comm_publish_btn').on('click', function () {
                $this_div = $(this).parent();
                var id = $this_div.attr('id');

                var data = {};
                var uri = '/admin/article_page/comment_publish_ajax/' + article_id + '/' + id + '/' ;
                myAjax(uri, data, commentsReturn, commentsReturnErr);
            });

            $('.comment .comm_hide_btn').on('click', function () {
                $this_div = $(this).parent();
                var id = $this_div.attr('id');

                var data = {};
                var uri = '/admin/article_page/comment_hide_ajax/' + article_id + '/' + id + '/' ;
                myAjax(uri, data, commentsReturn, commentsReturnErr);
            });

            $('.comment .comm_delete_btn').on('click', function () {
                var check = confirm('Вы уверены, что хотите удалить этот комментарий и все дочерние комментарии?');
                if (check) {
                    $this_div = $(this).parent();
                    var id = $this_div.attr('id');

                    var data = {};
                    var uri = '/article_page/comment_delete_ajax/' + article_id + '/' + id + '/' ;
                    myAjax(uri, data, commentsReturn, commentsReturnErr);
                }
            });

        }

        function commentsReturnErr() {
            alert('Error');
        }

    }


</script>





















