
<div class="side_wrap left"></div>

<div class="main_content">

    <h1>Свяжитесь с нами:</h1>

    <form action="" method="post">
        <input type="text" class="form-control" name="name" placeholder="Ваше имя" /> <br/>
        <input type="text" class="form-control" name="email" placeholder="Ваш Email" /> <br/>
        <textarea name="message" class="form-control" placeholder="Ваше сообщение"></textarea> <br/>
        <button class="btn btn-lg btn-default btn-block" type="submit">Отправить</button>
    </form>


</div>

<div class="side_wrap right"></div>